<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6928888205-j666erllc10h6omh3k6c9t79ur67v7fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6928888205-j666erllc10h6omh3k6c9t79ur67v7fl</string>
	<key>API_KEY</key>
	<string>AIzaSyBen8boO8uGCvP7LXFjhKC0CGOq8d1iwcE</string>
	<key>GCM_SENDER_ID</key>
	<string>6928888205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pere.MyntToDo</string>
	<key>PROJECT_ID</key>
	<string>mynttodo</string>
	<key>STORAGE_BUCKET</key>
	<string>mynttodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6928888205:ios:534ba27c2a352f64b84dc4</string>
</dict>
</plist>